*.o
.*
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
!drivers/mfd/cg2900/modules.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
.DS_Store
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
/zImage
!.gitignore
!.mailmap
include/config
include/linux/version.h
include/generated
arch/*/include/generated
zImage
include/asm
include/asm-arm
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
include/generated
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
\#*#
_t32
_tool
Module.symvers
.DS_Store
drivers/.DS_Store
usr/gen_init_cpio
lib/crc32table.h
kernel/timeconst.h
lib/gen_crc32table
drivers/tty/vt/defkeymap.c
arch/arm/kernel/vmlinux.lds
drivers/tty/vt/consolemap_deftbl.c
kernel/config_data.h
usr/initramfs_data.cpio

arch/arm/boot/Image

arch/arm/boot/compressed/lib1funcs.S

arch/arm/boot/compressed/piggy.gzip

arch/arm/boot/compressed/vmlinux

arch/arm/boot/compressed/vmlinux.lds

scripts/basic/fixdep

scripts/kconfig/conf

scripts/kconfig/lex.zconf.c

scripts/kconfig/zconf.hash.c

scripts/kconfig/zconf.tab.c

scripts/mod/modpost

scripts/mod/mk_elfconfig

scripts/mod/elfconfig.h

scripts/kallsyms

scripts/genksyms/parse.h

scripts/genksyms/parse.c

scripts/genksyms/lex.c

scripts/genksyms/keywords.c

scripts/genksyms/genksyms

scripts/conmakehash

scripts/bin2c
